@model DoAn.Models.Hoa
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-hover:hover {
        color: #ff523b;
    }
</style>
<div class="small-container single-product">

    <div class="row">
        <div class="col-2">
            <div class="zoom-item main-product">
                <img src="~/Assets/images/@Model.HinhAnh" style="width: 100%" id="productImg">
            </div>
        </div>

        <div class="col-2">
            <p>Home / Products / Product detail</p>
            <h1>@Html.DisplayFor(model => model.TenSanPham)</h1>
            <h4>@Model.Gia</h4>
            <button style="cursor:pointer" class="btn btn-add-to-cart btn-hover" onclick="ThemGioHang(@Model.MaSanPham, '@Request.Url.ToString()')">Add to Cart</button>
            <a href="@Url.Action("ListProducts", new { id = @Model.MaSanPham})" class="btn btn-add-to-cart">Go back</a>
            @*<a href="@Url.Action("ThemGioHang", "Cart", new { @mh = Model.MaSanPham, @strURL = Request.Url.ToString()})" class="btn btn-add-to-cart">Add to Cart</a>*@
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <ul class="product-detail" id="product-description">
                <li>@Model.MoTa</li>
                <li>@Model.DonVi</li>
                <li>
                    <p>Hạn sử dụng: @Model.HanSuDung</p>
                </li>
            </ul>
        </div>
    </div>
</div>


<!----------------------------------Title------------------------------------->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <a href="/Products/ListProducts">
            View More
        </a>
    </div>
</div>

<!----------------------------------products------------------------------------->
@Html.Action("RandomProducts", "Products")

